/._Fullstack Engineer Home Assignment - LeanCon.docx
/._~$llstack Engineer Home Assignment - LeanCon.docx
/Fullstack Engineer Home Assignment - LeanCon.docx
/Simple example_with_castunits_fixed_new.ifc
/__pycache__
/base_structure.ifc
/system_model.ifc
/~$llstack Engineer Home Assignment - LeanCon.docx